<div class="tech-btm">
	<h4>Mail bültenine kayit olun.</h4>
	<p>Teknoloji ,yazilim ve diger bloglar</p>
	<form action="/NewsLetter/SubscribeMail/" method="post">
		<input type="email" placeholder="Email" required="" name="Mail">
		<input type="submit" value="Abone OL">
	</form>

</div>

